body a {
    cursor: pointer;
}

.main-container {
    margin-top: 51px;
}

.form-login,
.form-user {
    margin: 0 auto;
    width: 50%;
}

.form-pancho {
    margin: 0 auto;
    width: 70%;
}

.form-user .btn {
    margin-bottom: 10px;
}
.form-pancho {
    margin-top: 15px;
}
.users-list-group {
    margin: 5px 0px;
}

.users-list-group-remove {
    font-size: 15px;
    position: absolute;
    top: 12px;
    left: 6px;
    cursor: pointer;
    color: rgb(222, 79, 79);
    border: none;
    background: none;
    padding: 0px;
}

.users-list-group-text {
    padding-left: 20px;
    font-size: 15px;
}

.container-login {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.container-panchos {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.hide {
    display: none;
}

.well-container {
    margin-top: 15px;
}
.well .well-pancho {
    padding: 10px 5px 5px 15px;
}
.well-container .btn-delete {
    margin-left: 10px;
}

.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #b2b2b2;
    color: rgb(136, 172, 217);
}

.card p {
    margin: 10px 0 10px;
    color: #fff;
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}
.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
}

.card .avatar img {
    width: 115px;
    height: 115px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(0,0,30,0.8);
}

.align-center {
    text-align: center;
}

.block-add {
    margin-top: 15px;
}

.image-upload {
    margin-top: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 5px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
